{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
Новости и статьи в категории "{{ category }}"
{% endblock title %}

{% block content %}
    <h1>Новости и статьи в категории "{{ category }}"</h1>
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}">Подписаться</a></p>
    {% else %}
        <p class="text-center"><a href="{% url 'unsubscribe' category.id %}">Отписаться</a></p>
    {% endif %}
    <hr>
    <h6>Количество: {{ category_posts|length }}</h6>
    <hr>
    {% if category_posts %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Текст</td>
                <td>Автор</td>
            </tr>
            {% for post in category_posts %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title | censor }}</a>
                </td>
                <td>{{ post.post_created|date:'d.m.Y' }}</td>
                <td>{{ post.text|truncatechars:20|censor }}</td>
                <td>{{ post.author.user.username }}</td>
                <td>
                    <a href="{% url 'post_edit' post.id %}">Редактировать</a>
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>В этой категории пока нет статей!</h2>
    {% endif %}
    <a href="{% url 'category_list' %}">Вернуться к списку категорий</a>
{% endblock content %}