{% extends 'default.html' %}

{% load custom_filters %}
{% load cache %}

{% block title %}
Новости и статьи
{% endblock title %}

{% block content %}
    {% cache 60 h1 %}
    <h1>Все новости и статьи</h1>
    <hr>
    <h6>Количество: {{ news|length }}</h6>
    <hr>
    <a href="{% url 'post_create' %}">Создать новость/статью</a>
    {% endcache %}
    {% if news %}
        <table>
            {% cache 60 tr %}
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Текст</td>
                <td>Автор</td>
            </tr>
            {% endcache %}
            {% for post in news %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title | censor }}</a>
                </td>
                <td>{{ post.post_created|date:'d.m.Y' }}</td>
                <td>{{ post.text|truncatechars:20|censor }}</td>
                <td>{{ post.author.user.username }}</td>
                <td>
                    <a href="{% url 'post_edit' post.id %}">Редактировать</a>
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей и статей нет!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}}</a>
        {% endif %}
    {% endif %}
{% endblock content %}